.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 85%;
    max-width: 20rem;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.037),
      0 1rem 2rem 1rem rgba(0, 0, 0, 0.05);
  }

  .hero {
    width: 100%;
    border-radius: 1rem;
  }
  .content {
    padding: 20px;
    text-align: center;
    p {
      margin-top: 15px;
      // text-align: center;
    }
  }
}
